$element-body-background-color: $theme-background-color-primary;
$element-unordered-list-style: disc;

$element-table-header-background-color: $theme-background-color-secondary;
$element-table-row-background-color-odd: $theme-background-color-tertiary;
$element-table-row-background-color-even: $theme-background-color-secondary;
$element-table-header-text-color: $theme-text-color-secondary;
$element-table-body-text-color: $theme-text-color-primary;
