$theme-gradient-degree: 239deg;
$theme-start-point-color: rgba(181, 228, 242, 1);
$theme-center-point-color: rgba(53, 111, 148, 1);
$theme-end-point-color: rgba(21, 75, 111, 1);
$theme-start-point-fill: 0%;
$theme-center-point-fill: 54%;
$theme-end-point-fill: 81%;
