$theme-transition-duration-short: 0.2s;
$theme-transition-duration-medium: 0.4s;
$theme-transition-duration-long: 0.6s;
$theme-transition-duration-default: $theme-transition-duration-medium;
$theme-transition-timing-default: ease-in-out;
